
*.class

/microservicecloud/microservicecloud-api/target
/microservicecloud/microservicecloud-eureka-7001/target
/microservicecloud/microservicecloud-provider-dept-8001/target
/microservicecloud/microsservicecloud-consumer-dept-80/target
/microservicecloud/.idea/workspace.xml
