
*.class

/microservicecloud/microservicecloud-api/target
/microservicecloud/microservicecloud-eureka-7001/target
/microservicecloud/microservicecloud-provider-dept-8001/target
/microservicecloud/microsservicecloud-consumer-dept-80/target
/microservicecloud/.idea/workspace.xml
/microservicecloud/microservicecloud-eureka-7002/target
/microservicecloud/microservicecloud-eureka-7003/target
/microservicecloud/microservicecloud-provider-dept-8002/target
/microservicecloud/microservicecloud-provider-dept-8003/target
/microservicecloud/microservicecloud-consumer-dept-feign-91/target
/microservicecloud/microservicecloud-provider-dept-hystrix-8001/target
/microservicecloud/microservicecloud-zuul-gateway-9527/target
